body {
    background-color: lightblue;
}

.startBtn {
    background-color: blue;
    color: beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.rule_box {
    width: 340px;
    background: white;
    position: fixed;
    top: 55%;
    left: 55%;
    transform: translate(-60%, -50%);
    border-radius: 5px;
}

.choiceContainer {
    width: 340px;
    background: white;
    position: fixed;
    top: 55%;
    left: 55%;
    transform: translate(-60%, -50%);
    border-radius: 5px;
}


